*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#header{

    margin: auto;
    display: flex;
    backdrop-filter: blur(80px);
}

#quote {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#quote>p {

    color: white;
    font-family: 'Poor Story', cursive;

}


.sticky {
position: fixed;
    top: 0;
    width: 100%;
}

.stickybar{

    width: 61.4%; 
     display: flex; 

        justify-content: flex-end;
        align-items: center;

}

    
    
    

#name{
    
    width: 38.5%;
    display: flex;
}

#name>img{
    margin: auto;
}

#tag{
    
    width: 61.5%;
    display: flex;
    flex-direction: column;
}


#nav{

    display: flex;
    flex-direction: column;

}

#ava{
    margin-top: 0%;
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    align-items: center;
    align-content: center;
    padding-top: 1%;
}
   
#anchor{

    opacity: 0.5;

}

main{
 
    display: grid;
    place-items: center;
    position: relative;

}

#eyes, #eyes img{
    position: absolute;
}


#navbar{
    display: flex;
    justify-content: flex-end;

}

#bar{
    width: 61.4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.into{
    margin: auto;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.717);
 padding-left:1%;
    padding-bottom: 1%;
font-family: 'Poor Story', cursive;
backdrop-filter: blur(2px);
}



#resume{

    color: white;
    background-color: rgb(38, 38, 38);

}

.into:hover{
cursor: pointer;
color: white;
transition: 1s;
background: linear-gradient(-45deg,  #00000090, #2c2c2cb0,  #ffffffb0, #525252b0);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;


}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}







.dropbtn {
    color: white;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(27, 27, 27);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #33003b;
}



#well {

    height: 3000px;
    padding-top: 3%;
  display: flex;
  flex-direction: column;    

}


#aboutme{
    padding: 5% 5%;
    border: 1px solid black;
    color: white;
    display: flex;
   justify-content: space-between;
    border-radius: 10% 0 0 0;
    background-color: rgb(0, 0, 0);
}

/* #pro{
    
} */

#pro>img{
    border-radius: 20% 0 0 0;
}

#line{
    width: 70%;

    display: flex; 
    justify-content: center;
    align-items: center;
    align-content: center;

}



#myprojects {
    border: 1px solid rgb(73, 16, 85);
}

#myskills {
    border: 1px solid rgb(83, 2, 2);
}


#contactme {
    border: 1px solid rgb(12, 0, 62);
}
    
    

