html {
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

#header{

    margin: auto;
    display: flex;
}

#quote {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#font {

    font-weight: 200;
}

#quote>p {

    color: white;
    font-family: 'Poor Story', cursive;

}


.sticky {
position: fixed;
    top: 0;
    width: 100%;
    /* transition: 5s; */
}

.stickybar{
    
    width: 61.4%; 
    display: flex; 
    /* transition: 5s; */

        justify-content: flex-end;
        align-items: center;

}

    
    
    

#name{
    
    width: 30.5%;
    display: flex;
}

#name>img{
    margin: auto;
}

#tag{
    
    width: 61.5%;
    display: flex;
    flex-direction: column;
}


#nav{

    display: flex;
    flex-direction: column;
    /* border-left: 10px solid rgb(224, 13, 207); */


}

#ava{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 1%;
}

#anchor{
    background-color: rgb(255, 255, 255); 
    box-shadow: rgb(195, 0, 255) 0px 5px 0px 0px    ;
    border-radius: 10%;
    
}

main{
    margin-top: -100%;
    display: grid;
    place-items: center;
    position: relative;
}


#eyes, #eyes img{
    position: absolute;
}


#navbar{
    display: flex;
    justify-content: flex-end;

}

#bar{
    width: 61.5%;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.into{
    margin: auto;
    font-size: 12px;
    width: 25%;
    background-color: rgb(255, 255, 255);
 padding-left:1%;
    padding-bottom: 1%;
font-family: 'Poor Story', cursive;
backdrop-filter: blur(2px);
}



#resume{

    color: white;
    background-color: rgb(0, 0, 0);

}

.into:hover{
cursor: pointer;
color: white;
transition: 1s;
background: linear-gradient(-45deg,  #00000090, #2c2c2cb0,  #ffffffb0, #525252b0);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;


}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}







.dropbtn {
    color: white;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ********************************** */
.upbtn {
    color: rgb(255, 255, 255);
    border: none;
}

.updown-content {
    display: none;
    position: absolute;
    font-size: 10px;
    background-color: #ffffff00;
    border: 0.2px solid rgba(0, 0, 0, 0);
    width: 10%;
    z-index: 1;
}
.updown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.updown-content a:hover {
    cursor: default;
background-color: #ffffff00;
    border: 0.2px solid rgba(0, 0, 0, 0);
}

.updown:hover .updown-content {
    cursor: none;
    display: block;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    background-color: rgb(0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0); */
    width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(195, 0, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   border: 1px solid black;
}

#hard{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


#well {
  display: flex;
  flex-direction: column;    
  /* border-left:10px solid rgb(0, 0, 0) ; */

}

#just{

    border: 4px solid black;
}

.hidden{

    opacity: 0;
    transition: 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show{
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}



.fade{
    margin-top: 100px;
    opacity: 0;
    transition: 1s;
}
.fadein{
    margin-top: 0;
    opacity: 1;
}


#aboutme{
    padding: 5% 5%;
    height: 400px;
    color: white;
    display: flex;
   justify-content: space-between;
    border-radius: 50% 0 0 0;
    background-color: rgb(0, 0, 0);
}


#pro>img{
    border-radius: 20% 0 0 0;
    width: 80%;
}

#line{
    width: 70%;

    display: flex; 
    justify-content: center;
    align-items: center;
    align-content: center;

}



#myprojects {
    border: 1px solid rgb(73, 16, 85);
}

#myskills {
    /* border: 1px solid rgb(83, 2, 2); */
    margin-top: 248px;
    display: flex;
    flex-direction: column;
    /* height: 600px; */
    background-color: black;
    padding-top:2% ;
    padding-bottom: 2%;

}


#pogo{
  margin: auto;
  display: flex;
  width: 100%;
  /* border: 1px solid rgb(18, 57, 16); */
}

#pogo>div:nth-child(2){
    margin-left: 1%;
    font-size: 30px;
}

#sogo{
    display: flex;
    margin-left: 10%;
}

#sogo>img{
    margin-left: 10%;
}

#list{
    /* border: 1px solid rgb(32, 24, 176); */
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 90%;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: 20px ;
    place-items: center;

}

#list>div {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   align-content: center;
    /* border: 1px solid orange; */
}

#list>div>div:nth-child(1) {
display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
}

/* #list>div>img{

    width: 100%;

} */



#github{
    display: flex;

    
}


    

.give{

    text-decoration: none;
    color: black;

}



@-webkit-keyframes shine {
    0% {
        background-position: -100%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes shine {
    0% {
        background-position: -100%;
    }

    100% {
        background-position: 100%;
    }
}



#trend {
    background-size: contain;
    text-align: center;
    color: rgb(255, 255, 255);
}

#trend::before {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 20px; */
    background: linear-gradient(45deg,
            rgba(0, 0, 0, 0) 45%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(0, 0, 0, 0) 55%,
            rgba(0, 0, 0, 0) 100%);
    color: transparent;
    animation: shine 4s infinite;
    background-size: 200%;
}

@-webkit-keyframes shine {
    0% {
        background-position: -100%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes shine {
    0% {
        background-position: -100%;
    }

    100% {
        background-position: 100%;
    }
}

#trend {
    top: 50%;
    left: 50%;
    /* transform: translate(0%, 0%); */
    /* position: absolute; */
    /* font-size: 20vw; */
    margin: 0;
    font-family: "Open sans";
    font-weight: 700;
}

#rend {
    top: 50%;
    left: 50%;
    margin: 0;
    font-family: "Open sans";
    font-weight: 700;
}
